.app_mainpage{
    display: flex;
    flex-direction: row;
   
}
.block{
    display: flex;
}
.content_block{
    margin-left: 50px;
}
.full_block{
    background-color: #f9f9f9;
}
.video_block{
    margin-left: 30px;
}
.search_heading{
    margin-left: 50px;
}
.search_img{
    margin-left: 30px;
}