.playvideo{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-around;
}
/* .reactplayer{
    /* width: 300px; */
    /* height: 500px; */

.like{
    margin-top: 10px;
    margin-left: 50px;
}
.title_share{
    display: flex;
    justify-content: space-between;
}
p{
    color: gray;
}
.icon{
    padding: 10px;
}
.playVideo_block{
    display: flex;
}
.block{
    display: flex;
}
.content_block{
    margin-left: 50px;
}
.full_block{
    background-color: #f9f9f9;
}
.video_block{
    margin-left: 30px;
}